<div class="example-wrapper">
    <div class="example-header">
      <input
        type="text"
        id="filter-text-box"
        placeholder="Search..."
        (input)="onFilterTextBoxChanged()"
      />
      <!-- <button style="margin-left: 20px;" (click)="onPrintQuickFilterTexts()">
        Print Quick Filter Cache Texts
      </button> -->
    </div>
    <ag-grid-angular
      style="width: 500px; height: 500px"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [cacheQuickFilter]="true"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
    ></ag-grid-angular>
  </div>